<div id="mobile-menu" class="hidden md:hidden fixed top-0 left-0 w-full h-full bg-white z-40">
  <div class="flex flex-col items-center justify-center h-full">
    <nav class="w-full">
      <a href="/" class="block w-full py-6 text-3xl font-bold text-gray-800 text-center hover:bg-gray-100 hover:text-[#D84141] transition-all duration-300 mobile-menu-link border-b border-gray-200">Главная</a>
      <a href="/#main-services" class="block w-full py-6 text-3xl font-bold text-gray-800 text-center hover:bg-gray-100 hover:text-[#D84141] transition-all duration-300 mobile-menu-link border-b border-gray-200">Услуги</a>
      <a href="/#practices" class="block w-full py-6 text-3xl font-bold text-gray-800 text-center hover:bg-gray-100 hover:text-[#D84141] transition-all duration-300 mobile-menu-link border-b border-gray-200">Практики</a>
      <a href="/pricing/" class="block w-full py-6 text-3xl font-bold text-gray-800 text-center hover:bg-gray-100 hover:text-[#D84141] transition-all duration-300 mobile-menu-link border-b border-gray-200">Цены</a>
      <a href="/contacts/" class="block w-full py-6 text-3xl font-bold text-gray-800 text-center hover:bg-gray-100 hover:text-[#D84141] transition-all duration-300 mobile-menu-link">Контакты</a>
    </nav>
  </div>
</div>
